::ng-deep{
    .header-cpn{
        width: 100%;
        background-color: white;
        // border-bottom: 1px solid gray;
        margin: auto;
        overflow-x: auto;
        overflow-y: hidden;
        box-shadow: 0px 2px 5px rgba(200, 200, 200, 0.3);
        .item{
            height: 60px;
            padding:0 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu-item{
                display: flex;
                gap: 50px;
                justify-content: space-between;
                align-items: center;
                .logo{
                    display: flex;
                    align-items: center;
                    position: relative;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;
                    img{
                        width: 120px;
                        height: 60px;
                        object-fit: cover;
                        margin-top: 15px;
                    }
                    .headerName{
                        position: absolute;
                        left: 90px;
                        font-size: 20px;
                        font-weight: 700;
                        color: #353535;
                    }
                }
                .item-action{
                   .k-menu{
                    .k-item{
                        color: #7e7e7e;
                        font-size: 15px;
                        font-weight: 500;
                    }
                   }
                }
            }

            .log-res{
                .k-button{
                    border: 2px solid;
                    border-radius: 20px;
                    background-color: white;
                    border-color: #ff8c23;
                    width: 90px;
                    height: 40px;
                    color: #ff8c23;
                    font-weight: 700;
                    &:hover{
                        background-color: #ff8c23;
                        color: white;
                    }
                }
            }
            .user-default{
                .k-avatar{
                    &:first-child{
                        background-color: white;
                        border-color: white;
                        color: #ff8c23;
                    }
                    &:last-child{
                        background-color: #ff8c23;
                    }
                }
                .btn-user{
                    border: none;
                    border-radius: 50%;
                    background-color: white;
                    color: #ff8c23;
                }

                .k-animation-container{
                    .k-popup{
                        border-radius: 15px;
                    .info-user{
                        background-color: #FFF0E2;
                        padding: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        border-radius: 15px;
                        .email{
                            font-weight: 700;
                        }
                        .avt{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            .name{
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                        .setting-user,.logout{
                            .k-button{
                                background-color: #FFF0E2;
                                color: #ff8c23;
                                font-weight: 600;
                                border-radius: 20px;
                                border: 1px solid gray;
                                padding: 10px 15px;
                            }
                        }
                    }

                  }
                }
            }
            
        }
        // overflow: auto;
    }
}