::ng-deep{
    .footer{
        border-top: 1px solid gray;
        width: 100%;
        .footer-content{
            padding: 40px 60px;
            display: flex;
            justify-content: center;
            gap: 40px;
            border-bottom: 1px solid gray;
            .f-content-left{
                min-width: 300px;
                width: 400px;
                .f-content-logo{
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    img{
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        left: -40px;
                        top: -35px;
                        z-index: -9999;
                    }
                    .logoName{
                        margin-left: 50px;
                        font-size: 24px;
                        font-weight: bold;
                        color: #FA8A01;
                    }
                    
                }
            }

            .f-content-center{
                display: flex;
                gap: 60px;
                .item{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    min-width: max-content;
                    h3{
                        color: #FA8A01;
                    }
                }
            }

            .f-content-right{
                display: flex;
                flex-direction: column;
                gap: 30px;
                min-width: 200px;
                .list-icon{
                    display: flex;
                    gap: 20px;
                    .border{
                        background-color: #FA8A01;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    .k-svg-icon{
                        padding: 5px;
                        color: white;
                        width: 16px;
                    }

                }
                .language{
                    .k-dropdownlist{
                        background-color: #FA8A01;
                        color: white;
                        .k-input-inner{
                            .k-input-value-text{
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                padding: 3px 0px;
                                .name{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }


        .title{
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}