<div class="footer">
    <div class="footer-content">
        <div class="footer-content-left">
            <div class="footer-content-left-logo">
                <img src="assets/img/logo/logo-header.png" alt="logo" routerLink="/">
                <div class="footerName" routerLink="/">Blogtech</div>
            </div>
            <span>Join our newsletter to stay up to date on features and release</span>
            <div class="footer-content-left-search">
                <input placeholder="Enter your email"/>
                <button>Subcribe</button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </div>
        <div class="footer-content-right">
            <div class="footer-content-right-1">
                <h2>About Us</h2>
                <p>Popular</p>
                <p>Trending</p>
                <p>Contact</p>
                <p>Support/Help</p>
                <p>Request Topics</p>
            </div>
            <div class="footer-content-right-2">
                <h2>Column Two</h2>
                <p>FAQs</p>
                <p>Terms and Condition</p>
                <p>Support</p>
                <p>Link Nine</p>
                <p>Link Ten</p>
            </div>
            <div class="footer-content-right-3">
                <h2>Follow Us</h2>
                <div class="footer-content-right-3-thirdParty">
                    <kendo-svg-icon [icon]="icons.facebookIcon"></kendo-svg-icon>
                    <p>Facebook</p>
                </div>
                <div class="footer-content-right-3-thirdParty">
                    <kendo-svg-icon [icon]="icons.twitterIcon"></kendo-svg-icon>
                    <p>Twitter</p>
                </div>
                <div class="footer-content-right-3-thirdParty">
                    <kendo-svg-icon [icon]="icons.linkedinIcon"></kendo-svg-icon>
                    <p>LinkedIn</p>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        Copyright © 2024 All Rights Reserved.
    </div>
</div>