<div class="footer">
    <div class="footer-content">

        <div class="f-content-left">
            <div class="f-content-logo">
                <img src="assets/img/logo/logo-header.png" alt="logo" routerLink="/">
                <div class="logoName" routerLink="/">Blogtech</div>
            </div>
            <p class="description">Join our newsletter to stay up to date on features and release Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </div>

        <div class="f-content-center">
            <div class="item">
                <h3>COMPANY</h3>
                <span>Donec dignissim</span>
                <span>Curabitur egestas</span>
                <span>Nam posuere</span>
                <span>Aenean facilisis</span>
            </div>
            <div class="item">
                <h3>SERVICES</h3>
                <span>Cras convallis</span>
                <span>Vestibulum faucibus</span>
                <span>Quisque lacinia purus</span>
                <span>Aliquam nec ex</span>
            </div>
            <div class="item">
                <h3>RESOURCES</h3>
                <span>Suspendisse porttitor</span>
                <span>Nam posuere</span>
                <span>Curabitur egestas </span>
            </div>
        </div>

        <div class="f-content-right">
            <div class="list-icon">
                <div class="border"><kendo-svg-icon [icon]="icons.facebookIcon"></kendo-svg-icon></div>
                <div class="border"><kendo-svg-icon [icon]="icons.linkedinIcon"></kendo-svg-icon></div> 
                <div class="border"><kendo-svg-icon [icon]="icons.twitterIcon"></kendo-svg-icon></div> 
            </div>
            <div class="language">
                <kendo-dropdownlist
                [data]="data"
                [value]="data[0]"
                valueField="Code"
                textField="Name"
                buttonClass="custom-border custom-bg"
                [svgIcon]="icons.icDown"
              >
              <ng-template kendoDropDownListValueTemplate let-dataItem>
                    <img src="assets/img/icon/icon-world.svg" alt="">
                    <span class="name">{{ dataItem?.Name }}</span>
              </ng-template>

              </kendo-dropdownlist>
            </div>
        </div>
       
    </div>

    <div class="title">
        Copyright © 2024 All Rights Reserved.
    </div>
</div>