<div class="block-blogs-post">
    <img src="../../../../../assets/img/toUse/bookInHand.jpg"/>
    <div class="block-blogs-post-content">
        <div class="block-blogs-post-content-status">
            <button>Books</button>
            <p>5 min read</p>
        </div>
        <span>A Tricycle is the Perfect Fist Birthday Gift</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        <div class="block-blogs-post-content-more">
            <a href="#">Read more</a>
            <div class="icon">
                <kendo-svg-icon [icon]="icons.right"></kendo-svg-icon>
            </div>
        </div>
    </div>
</div>