::ng-deep{
    .home-global{
        display: flex;
        flex-direction: column;
        height: 100%;
        // overflow: auto;
        .header{

        }
        .body{

            //regionSearchBlog
            .block-searchBlog{
                height: 500px;
                background-color: #505358;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                color: white;
                font-size: 20px;
                
                .title{
                    font-size: 50px;
                    font-weight: 700;
                    span{
                        color: #fa8a01;
                    }
                }
                .group-filter{
                    display: flex;
                    background-color: white;
                    border-radius: 25px;
                    padding: 5px;
                    .item{
                        width: 300px;
                        .k-textbox,.k-dropdownlist,.k-button{
                            height: 50px;
                            background-color: white;
                            color:#808082;
                        }
                        .k-textbox{
                           display: flex;
                           flex-direction: row-reverse;
                           border-top-left-radius: 25px;
                           border-bottom-left-radius: 25px;
                           .k-input-suffix{
                            margin-left: 5px;
                           }
                        }
                    }
                    .item4{
                        width: 250px;
                        .k-button{
                            background-color: #fa8a01;
                            color: white;
                            width: 235px;
                            margin: 0 10px;
                            border-radius: 25px;
                        }
                    }
                }


                .popular-blogs{
                    display: flex;
                    gap: 20px;
                    .item{
                        background-color: #6e6f73;
                        border-radius: 3px;
                        .sub-item{
                            padding: 15px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            .icon{
                                border-radius: 3px;
                                background-color: #828387;
                                .k-svg-icon{
                                    padding: 10px;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            .data{
                                display: flex;
                                flex-direction: column;
                                .number{
                                    font-size: 30px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            //endRegion

            //regionBlockBlogs

            .block-blogs{
                height: 400px;
            }

            //endRegion
        }
    }
}