::ng-deep {
    .home-global {
        display: flex;
        flex-direction: column;
        height: 100%;

        // overflow: auto;
        .header {
            width: 100%;
            position: fixed;
            z-index: 9999;
        }

        .body {

            //regionSearchBlog
            .block-searchBlog {
                height: 500px;
                background-color: #505358;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                color: white;
                font-size: 20px;

                .title {
                    font-size: 50px;
                    font-weight: 700;

                    span {
                        color: #fa8a01;
                    }
                }

                .group-filter {
                    display: flex;
                    background-color: white;
                    border-radius: 25px;
                    padding: 5px;

                    .item {
                        width: 300px;

                        .k-textbox,
                        .k-dropdownlist,
                        .k-button {
                            height: 50px;
                            background-color: white;
                            color: #808082;
                        }

                        .k-textbox {
                            display: flex;
                            flex-direction: row-reverse;
                            border-top-left-radius: 25px;
                            border-bottom-left-radius: 25px;

                            .k-input-suffix {
                                margin-left: 5px;
                            }
                        }
                    }

                    .item4 {
                        width: 250px;

                        .k-button {
                            background-color: #fa8a01;
                            color: white;
                            width: 235px;
                            margin: 0 10px;
                            border-radius: 25px;
                        }
                    }
                }


                .popular-blogs {
                    display: flex;
                    gap: 20px;

                    .item {
                        background-color: #6e6f73;
                        border-radius: 3px;

                        .sub-item {
                            padding: 15px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            .icon {
                                border-radius: 3px;
                                background-color: #828387;

                                .k-svg-icon {
                                    padding: 10px;
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            .data {
                                display: flex;
                                flex-direction: column;

                                .number {
                                    font-size: 30px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }

            //endRegion

            //regionBlockBlogs

            .block-blogs {
                padding: 50px 100px;
                h1 {
                    font-size: medium;
                }
                .title {
                    font-size: 50px;
                    width: 60%;
                    font-weight: 700;
                }
                p{
                    font-weight: 500;
                }

                .block-blogs-first {
                    height: 500px;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    img {
                        width: 50%;
                        height: 400px;
                    }

                    .block-blogs-first-content {
                        width: 50%;
                        padding-left: 50px;

                        h1 {
                            font-size: medium;
                        }

                        h2 {
                            font-size: 30px;
                            white-space: nowrap;
                        }

                        p {
                            font-size: 14px;
                        }

                        .block-blogs-first-account {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: row;

                            img {
                                width: 50px;
                                height: 50px;
                            }

                            .block-blogs-first-account-info {
                                padding-left: 20px;

                                span {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }

               
                .featured{
                    margin-top: 20px !important;
                }

                .block-blogs-type {
                    margin-top: 100px;

                    .block-blogs-type-content {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        .block-blogs-type-content-tittle {
                            max-width: 50%;

                            h2 {
                                font-size: 40px;
                            }

                            p {
                                margin-top: 20px;
                            }
                        }

                        .block-blogs-type-content-button {
                            max-width: 50%;

                            button {
                                padding: 10px 20px;
                                border-radius: 5px;
                                font-weight: bold;
                                background-color: white;
                            }

                            button:hover {
                                color: #FA8A01;
                                font-weight: bold;
                                border-color: #FA8A01;
                            }
                        }
                    }

                    .list-post {
                        margin-top: 20px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-auto-rows: 1fr; 
                        gap: 30px; 
                        .item-post{
                            grid-column: auto; 
                            grid-row: auto; 
                            img {
                                width: 100%;
                            }
                    
                            .status {
                                display: flex;
                                flex-direction: row;
                                margin-top: 10px;
                                button {
                                    border: 0;
                                    padding: 5px;
                                    font-weight: 600;
                                }
                    
                                p {
                                    margin-left: 20px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                }
                            }
                    
                            span{
                                font-size: 20px;
                                font-weight: bold;
                            }
                            p{
                                margin-top: 10px;
                            }
                            .more{
                                display: flex;
                                flex-direction: row;
                                margin-top: 15px;
                                a{
                                    color: black;
                                    font-weight: 400;
                                    text-decoration: none;
                                }
                                a:hover{
                                    font-weight: 600;
                                }
                                .icon{
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                   
                }
            }

            .near-footer {
                margin-top: 100px;
                width: 100%;
                background-image: url('../../../../../assets/img/toUse/background.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                .near-footer-content {
                    padding: 0 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    height: 300px;

                    .near-footer-content-left {
                        h2{
                            color: white;
                            font-size: 40px;
                            font-weight: 600;
                        }
                        p{
                            margin-top: 20px;
                            color: white;
                        }
                    }

                    .near-footer-content-right {
                        input{
                            width: 300px;
                            height: 35px;
                            padding-left: 10px;
                            border-radius: 5px;
                            border:0;
                            align-items: center;
                        }
                        button{
                            margin-left: 10px;
                            height: 35px;
                            padding: 5px 15px;
                            border: 0;
                            border-radius: 5px;
                            font-weight: bold;
                            background-color: white;
                        }
                        p{
                            font-size: 14px;
                            color: white;
                            margin-top: 10px;
                        }
                    }
                }
            }

            //endRegion
        }
    }
}