<div class="user-control">
  <loading-spinner [isLoading]="isLoading"></loading-spinner>
<div class="form-action" >
    <div class="user-form" *ngIf="isRegisterForm">
      <div class="title">Create Your New Account!
        <br>
        <p>Have an Account? <span routerLink="/login">Sign In</span> </p>
      </div>
      <form class="form register-form">
        <div class="form-item item1">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Name">
            <kendo-textbox  name="name" id="namedk" placeholder="Name" [(ngModel)]="user.fullName"
            required
            [showSuccessIcon]="user.fullName.length > 3"
            showErrorIcon="initial"
          >
              <ng-template kendoTextBoxPrefixTemplate>
                <kendo-svgicon [icon]="icons.user"></kendo-svgicon>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
            </kendo-textbox>
          </kendo-floatinglabel>
        </div>
        <div class="form-item item2">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Email Address">
            <kendo-textbox  name="namedn"
            id="username"
            placeholder="YourEmail@email.com" [(ngModel)]="user.email"
            required
            [showSuccessIcon]="hasValidEmail(user.email)"
            showErrorIcon="initial"
          >
              <ng-template kendoTextBoxPrefixTemplate>
                <kendo-svgicon [icon]="icons.evenlope"></kendo-svgicon>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
            </kendo-textbox>
          </kendo-floatinglabel>
        </div>
        <div class="form-item item3">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Password">
            <kendo-textbox
              [type]="textboxTypePw"
               name="pw" placeholder="Password"  id="password" [(ngModel)]="user.password"
               required
               [showSuccessIcon]="user.password.length >= 6"
               showErrorIcon="initial"
            >
              <ng-template kendoTextBoxPrefixTemplate>
                <button
                  kendoButton
                  [svgIcon]="icons.eye"
                  (click)="onClickShowPassword()"
                ></button>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
  
            </kendo-textbox>
            </kendo-floatinglabel>
        </div>
        <div class="form-item item4">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Confirm Password">
            <kendo-textbox
              [type]="textboxTypePwConfirm"
               name="confirmpw" placeholder="Confirm Password"  id="password" [(ngModel)]="confirmPassword"
               required
               [showSuccessIcon]="confirmPassword == user.password && confirmPassword.length > 0"
               showErrorIcon="initial"
            >
              <ng-template kendoTextBoxPrefixTemplate>
                <button
                  kendoButton
                  [svgIcon]="icons.eye"
                  (click)="onClickShowPassword(true)"
                ></button>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
  
            </kendo-textbox>
            </kendo-floatinglabel>
        </div>
        <div class="form-item item-radio">
          <div class="radio-remember">
            <kendo-checkbox></kendo-checkbox>
            <p>I Have Read and Agree to the <span>Terms & Conditions</span> </p>
          </div>
        </div>
        
          <button kendoButton   class="btn btn-primary" (click)="onRegister()">Create An Account</button>

      </form>
  </div>

  <div class="user-form" *ngIf="isLoginForm">
    <div class="title">Welcome Back Sign in to Continue
    <br>
    <p>Don't have an Account? <span routerLink="/register">Register</span> </p>
    </div>
      <form class="form login-form">
        <div class="form-item item1">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Email Address">
            <kendo-textbox  name="namedn"
            id="username"
            placeholder="YourEmail@email.com" [(ngModel)]="user.email"
            required
            [showSuccessIcon]="hasValidEmail(user.email)"
            showErrorIcon="initial"

          >
              <ng-template kendoTextBoxPrefixTemplate>
                <kendo-svgicon [icon]="icons.evenlope"></kendo-svgicon>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
            </kendo-textbox>
          </kendo-floatinglabel>
   
        </div>
        <div class="form-item item2">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Password">
          <kendo-textbox
            [type]="textboxTypePw"
             name="pw" placeholder="Password"  id="password" [(ngModel)]="user.password"
             required
             showErrorIcon="initial"
          >
            <ng-template kendoTextBoxPrefixTemplate>
              <button
                kendoButton
                [svgIcon]="icons.eye"
                (click)="onClickShowPassword()"
              ></button>
              <kendo-textbox-separator></kendo-textbox-separator>
            </ng-template>

          </kendo-textbox>
          </kendo-floatinglabel>
          <!-- <span class="forgot">Forgot Password ?</span> -->
        </div>
        <div class="form-item item-radio">
        <div class="radio-remember">
          <kendo-checkbox></kendo-checkbox>
          <span>Remember Me</span>
        </div>
        <div class="forgot-pw" routerLink="/forgotpassword">
          Forgot Password?
        </div>
          <!-- <span class="forgot">Forgot Password ?</span> -->
        </div>
        <button kendoButton   class="btn btn-primary" (click)="onLogin()">Log In</button>
      </form>
  </div>

  <div class="user-form" *ngIf="isForgotForm">
    <div class="title">Forgot Your Password?
      <br>
      <p>Enter your email address below and we'll send you email with password </p>
      </div>

      <form class="form forgot-form">
        <div class="form-item item1">
          <kendo-floatinglabel labelCssClass="custom-label-class" text="Email Address">
            <kendo-textbox  name="namedn"
            id="username"
            placeholder="Enter Your Email" [(ngModel)]="user.email"
            required
            [showSuccessIcon]="hasValidEmail(user.email)"
            showErrorIcon="initial"
          >
              <ng-template kendoTextBoxPrefixTemplate>
                <kendo-svgicon [icon]="icons.evenlope"></kendo-svgicon>
                <kendo-textbox-separator></kendo-textbox-separator>
              </ng-template>
            </kendo-textbox>
          </kendo-floatinglabel>
        </div>
        <button kendoButton class="btn btn-primary">Send Recovery Email</button>

        <div class="end-forgot" >Forget It, <span routerLink="/login">Send me Back</span> to The Sign In</div>
      </form>
  </div>

  <div class="social" *ngIf="isLoginForm">
    <div class="line">
      <span class="text">Or Continue With</span>
    </div>
    <div class="social-icon"> 
      <div class="group-button">
        <button kendoButton [imageUrl]="'assets/img/icon/icon-google.svg'" >Google+</button>
        <button kendoButton [imageUrl]="'assets/img/icon/icon-facebook.svg'" >Facebook</button>
        <button kendoButton [imageUrl]="'assets/img/icon/icon-apple.svg'">Apple</button>
      </div>
    </div>
  </div>
  <!-- <kendo-loader type="converging-spinner"  *ngIf="isLoading" size="large">
    <div class="k-loading-panel-text">Loading...</div>
  </kendo-loader> -->
</div>
</div>